@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0; 
    overflow: hidden;
}

#logo {
    height: 50px;
    width: 50px;
}

h1 {
    color: rgb(255, 0, 195);
    font-size: 2rem;
    margin-top: 10px;
}

#name {
    font-size: 3rem;
    color: rgba(226, 246, 7, 0.9);
}

#va {
    color: rgb(247, 0, 255);
}

#voice {
    margin-bottom: 20px; 
    height: 140px; 
    width: 90%;
    max-width: 600px;
    color: white;
    text-align: center;
    display: none;
}

#btn {
    width: 80%;
    max-width: 300px;
    background: linear-gradient(hsla(350, 100%, 88%, 0.715), rgba(255, 192, 203, 0.769), rgba(255, 192, 203, 0.792));
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.25rem;
    border-radius: 20px;
    color: rgb(20, 3, 3);
    box-shadow: 2px 2px 10px rgba(255, 192, 203, 0.333);
    border: none;
}

#btn:hover {
    word-spacing: 3px;
    box-shadow: 2px 2px 10px rgba(255, 192, 203, 0.934);
    cursor: pointer;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem;
    }
    
    #name {
        font-size: 2.5rem;
    }

    #btn {
        width: 90%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }
    
    #name {
        font-size: 2rem;
    }

    #btn {
        font-size: 1rem;
    }
}
